<a href="/new">submit a new message!</a>
<div>
    <%= title %>
    <% messages.forEach(message => { %>
        <div>
            message: <%= message.message %>  
            <a href="/message/<%= message.id %>">details</a>
        </div>
    <% }); %>
</div>
